<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
			</handlers>
			<aspNetCore processPath=".\MoneyCheck.Api.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
			<rewrite>
				<rules>
					<clear/>
					<rule name="Redirect to https" stopProcessing="true">
						<match url=".*"/>
						<conditions>
							<add input="{HTTPS}" pattern="off" ignoreCase="true"/>
							<add input="{REQUEST_URI}" pattern="^/.well-known/acme-challenge" negate="true"/>
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>